<!DOCTYPE html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>GSB Médecins</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link rel="stylesheet" th:href="@{/css/style.css}">


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>

<header>
    <!-- Topbar -->
    <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

        <!-- Sidebar Toggle (Topbar) -->
        <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
        </button>

        <a th:href="@{/}"><img th:src="@{/img/logoGSB.png}" style="height: 75px;"/></a>

        <!-- Topbar Navbar -->
        <ul class="navbar-nav ml-auto">

            <li>
                <!-- Topbar Search -->
                <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search"
                        method="get" action="/medecins/nom">
                    <div class="input-group">
                        <input type="text" class="form-control bg-light border-0 small" placeholder="Chercher un médecin"
                               aria-label="Search" aria-describedby="basic-addon2" id="search" name="nopr"> <!--nom ou prénom-->
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="button">
                                <i class="fas fa-search fa-sm"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </li>

            <li class="nav-item dropdown no-arrow mx-1">
            </li>

            <!-- Nav Item - Notif à dév -->
            <!--<li class="nav-item dropdown no-arrow mx-1">
                <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-bell fa-fw"></i>
                    &lt;!&ndash; Counter - Alerts &ndash;&gt;
                    <span class="badge badge-danger badge-counter">3+</span>
                </a>
            </li>-->

            <div class="topbar-divider d-none d-sm-block"></div>

            <!-- Nav Item - Déconnexion-->
            <li class="nav-item dropdown no-arrow">
                <a href="" class="btn btn-danger">Se déconnecter</a>
            </li>

        </ul>

    </nav>
    <!-- End of Topbar -->
</header>