<!DOCTYPE html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="gsbmedecins">
    <meta name="author" content="adammehdaoui">

    <title>GSB Médecins</title>

    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet">

    <!-- Style perso -->
    <link rel="stylesheet" th:href="@{/css/style.css}">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

    <!-- Application Google fonts -->
    <style>
        body {
            font-family: 'Montserrat', sans-serif;
        }
    </style>
</head>

<header>
    <!-- Topbar -->
    <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

        <!-- Sidebar Toggle (Topbar) -->
        <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
        </button>

        <a th:href="@{/}"><img alt="GSB" th:src="@{/img/logoGSB.png}" style="height: 80px;"/></a>

        <!-- Topbar Navbar -->
        <ul class="navbar-nav ml-auto">

            <li>
                <!-- Topbar Search -->
                <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search shadow-lg"
                        method="get" action="/medecins/nom">
                    <div class="input-group">
                        <input type="text" class="form-control bg-light border-0 small" placeholder="Chercher un médecin"
                               aria-label="Search" aria-describedby="basic-addon2" id="searchmed" name="nopr"/> <!--nom ou prénom-->
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="button">
                                <i class="fas fa-search fa-sm"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </li>

            <li class="nav-item dropdown no-arrow mx-1">
            </li>

            <li class="nav-item dropdown no-arrow mx-1">
            </li>

            <li class="nav-item dropdown no-arrow mx-1">
            </li>

            <li class="nav-item dropdown no-arrow">
                <a class="btn btn-primary" th:href="@{/dashboard}">Tableau de bord</a>
            </li>

            <li class="nav-item dropdown no-arrow mx-1">
            </li>

            <li class="nav-item dropdown no-arrow mx-1">
            </li>

            <li class="nav-item dropdown no-arrow mx-1">
            </li>

            <!-- Nav Item - Déconnexion-->
            <li class="nav-item dropdown no-arrow">
                <form method="post" class="shadow-lg" th:action="@{/logout}">
                    <input class="btn btn-danger" type="submit" value="Se déconnecter"/>
                </form>
            </li>

        </ul>

    </nav>
    <!-- End of Topbar -->
</header>