<!-- Footer -->
<footer class="bg-light py-5 shadow-lg">
    <div class="container px-4 px-lg-5">
        <div class="small text-center text-muted">
            <a class="link" href="https://github.com/MehdaouiAdam" target="_blank">
                <i class="fab fa-2x fa-github"></i>
            </a>
            <p class="paragraph">
                <b>Adam Mehdaoui</b>
                <br>
                Thème Bootstrap (Dashboard)
            </p>
        </div>
    </div>
</footer>
<!-- Footer -->