@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap');

body {
    font-family: 'Inter', sans-serif;
}

.spinner-button {
    border: 2px solid #000;
    display: inline-block;
    padding: 8px 20px 9px;
    font-size: 12px;
    color: #000;
    background-color: transparent
}

.btn-primary:disabled {
    color: #fff;
    background-color: #000;
    border-color: #000
}

.spinner-button:hover {
    background-color: #000;
    border: 2px solid #000;
    color: #fff
}

.spinner-button i {
    color: #fff
}

.spinner-button:hover i {
    color: #fff
}

.fa {
    color: #fff
}

.fa:hover {
    color: #fff
}