@charset "UTF-8";

.btn-primary:disabled {
    color: #fff;
    background-color: #000;
    border-color: #000
}

.bg-image {
    background-image: url("../img/background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

