<!DOCTYPE HTML>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/dashboard.html :: head"></head>
<body>

<header th:replace="fragments/dashboard.html" :: header></header>

<div class="row">

    <div class="col-2"></div>

    <div class="col-8">
        <div class="card card border-0 shadow-lg">
            <div class="card-body">
                <div>
                    <br>
                    <b>Numéro d'identification : </b><p th:text="${medecin.getId()}"></p>
                    <b>Nom : </b><p th:text="${medecin.getNom()}"></p>
                    <b>Prénom </b><p th:text="${medecin.getPrenom()}"></p>
                    <b>Adresse : </b><p th:text="${medecin.getAdresse()}"></p>
                    <b>Téléphone : </b><p th:text="${medecin.getTel()}"></p>
                    <b>Spécialité complémentaire : </b>
                    <p th:text="${
                      medecin.getSpecialiteComplementaire() != null
                      ? medecin.specialiteComplementaire.libelle
                      : 'Pas de spécialité.'}">
                    </p>
                    <b>Pays : </b><p th:text="${medecin.getDepartement().getPays().getNom()}"></p>
                    <b>Département : </b><p th:text="${medecin.getDepartement().getLibelle()}"></p>
                    <br>
                </div>
            </div>
        </div>
    </div>

    <div class="col-2"></div>

</div>

<br><br>

<footer th:replace="fragments/footer.html" :: footer></footer>

</body>
</html>