<!DOCTYPE HTML>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/dashboard.html :: head"></head>
<body class="bg-image">
<header th:replace="fragments/dashboard.html" :: header></header>

<div class="row">
    <div class="col-1"></div>

    <div class="col-5">
        <br><br><br>
        <img th:src="@{/img/medecin.png}" class="bg-light rounded-circle shadow-lg" style="height: 500px;"/>
    </div>


    <div class="col-4">
        <br><br>
        <div class="card shadow-lg">
            <div class="card-header shadow-lg">
                <br>
                <h1 class="h4 mb-3 fw-normal text-muted">Gestionnaire de médecins</h1>
                <p><em><small>
                       Par département, par pays,
                       par spécialité. Possibilité d'ajouter un nouveau médecin et de supprimer un médecin en cas de
                       départ en retraite.
                </small></em></p>
            </div>

            <div class="card-body">
                <br>
                <div id="listMedecins buttonbox">
                    <a id="btnFetch" type=button class="btn btn-primary shadow-lg"
                       th:href="@{/medecins}">Liste des médecins</a>
                </div>

                <br>

                <div id="createMedecin buttonbox">
                    <a id="btnFetch1" type=button class="btn btn-primary shadow-lg"
                       th:href="@{/medecins/createMedecin}">Enregistrer un nouveau médecin</a>
                </div>

                <br>

                <div id="listDepartements buttonbox">
                    <a id="btnFetch2" type=button class="btn btn-primary shadow-lg"
                       th:href="@{/departements}">Liste des départements</a>
                </div>

                <br>

                <div id="listPays buttonbox">
                    <a id="btnFetch3" type=button class="btn btn-primary shadow-lg"
                       th:href="@{/pays}">Liste des pays</a>
                </div>

                <br>

                <div id="listSpecialites buttonbox">
                    <a id="btnFetch4" type=button class="btn btn-primary shadow-lg"
                       th:href="@{/specialites}">Liste des spécialités</a>
                </div>
                <br>
            </div>
        </div>
    </div>

    <div class="col-1"></div>
</div>

<br><br><br><br>

<footer th:replace="fragments/footer.html" :: footer></footer>

</body>
</html>
