<!DOCTYPE HTML>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/dashboard.html :: head"></head>

<body>
<header th:replace="fragments/dashboard.html" :: header></header>

<center>
    <div id="actions text-center">

        <div id="listMedecins">
            <a class="btn btn-primary" th:href="@{/medecins}">Liste des médecins</a>
        </div>

        <br>

        <div id="listDepartements">
            <a class="btn btn-primary" th:href="@{/departements}">Liste des départements</a>
        </div>

        <br>

        <div id="listPays">
            <a class="btn btn-primary" th:href="@{/pays}">Liste des pays</a>
        </div>

        <br>

        <div id="listSpecialites">
            <a class="btn btn-primary" th:href="@{/specialites}">Liste des spécialités</a>
        </div>

        <br>

        <div id="createMedecin">
            <a class="btn btn-primary" th:href="@{/medecins/createMedecin}">Enregistrer un médecin</a>
        </div>

    </div>
</center>

<br>
<br>
<br>
<br>
<br>
<br>

<footer th:replace="fragments/footer.html" :: footer></footer>

</body>
</html>