<!DOCTYPE HTML>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/dashboard.html :: head"></head>
<body class="bg-image">

<header th:replace="fragments/dashboard.html" :: header></header>

<div class="row">
    <div class="col-2"></div>

    <div class="col-8">
        <div class="card shadow-lg">
            <br>
            <br>
            <div class="form">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <form class="d-none d-sm-inline-block form-inline navbar-search shadow-lg"
                      method="get" action="/departements">
                    <div class="input-group">
                        <input type="text" class="form-control bg-light border-0 small overflow-hidden" placeholder="Département par nom"
                               aria-label="Search" aria-describedby="basic-addon2" id="search" name="lib">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="button">
                                <i class="fas fa-search fa-sm"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>

            <br><br>

            <div class="card border-0">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">Département</th>
                        <th scope="col">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="departement: ${departementList}">
                        <th scope="row" th:text="${departement.getLibelle()}+' '+${departement.getCodepostal()}"></th>
                        <th scope="row"><a class="btn btn-primary"th:href="@{departements/medecins/{dep}(dep=${departement.id})}">
                            Les médecins</a></th>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="col-2"></div>
</div>

<br><br><br><br><br><br><br>

<footer th:replace="fragments/footer.html" :: footer></footer>

</body>
</html>