<!DOCTYPE HTML>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/dashboard.html :: head"></head>
<body class="bg-image">

<header th:replace="fragments/dashboard.html :: header"></header>

<center>
    <div class="card bg-danger">
        <div class="card-body">
            <br>
            <p class="text-white">Il n'y a pas de médecins correspondant à votre recherche.</p>
        </div>
    </div>
</center>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br>

<footer th:replace="fragments/footer.html" :: footer></footer>

</body>
</html>